/**
  Animation Settings
  ---------------------------------------------------------------------- */
.animate-on-enter,
.animate-on-leave {
  opacity: 0;
  transform: translateY(4rem);

  @include transition(all 666ms ease-in-out);

  .wrap {
    opacity: 0;
    transform: scale(1.25);

    @include transition(all 666ms ease-in-out 333ms);
  }

  &.is-visible {
    opacity: 1;
    transform: translateY(0);

    .wrap {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/**
  Parallax Animation
  ---------------------------------------------------------------------- */
.animate-z-subtle .module-bg {
  height: calc(100% + 8rem);
}

.animate-z-normal .module-bg {
  height: calc(100% + 12rem);
}

.animate-z-extreme .module-bg {
  height: calc(100% + 20rem);
}
