.module-cta-wrap {
  position: relative;
  z-index: 998;
  padding-top: 1vw;

  ul {
    @include listStripped();
    @include grid(center, center, row, wrap);

    li {
      margin: 1rem;
    }
  }

  a {
    @extend .button;

    display: block;
  }
}
