/**
  Global Website Footer
  ---------------------------------------------------------------------- */
.footer-signup {
  padding: 3rem 3vw !important;

  h2 {
    text-align: center;
    text-transform: none;
    font-weight: $font-bold;
  }

  .footer-signup-content {
    text-align: center;
    padding-bottom: 0;
  }

  #gdpr_text,
  .g-recaptcha {
    display: none;
  }

  div.ctct-form-embed div.ctct-form-defaults {
    font-family: $font-default;
    background-color: transparent;
    padding-top: 0;
  }

  .ctct-form-custom {
    @include grid(center, flex-end);
  }

  div.ctct-form-embed form.ctct-form-custom input.ctct-form-element {
    background-color: transparent;
    border: none;
    border: 1px solid transparent;
    border-bottom: 2px solid $white;
    padding: 0 0.5rem;
    color: $white;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: none;

    @include transition();

    &:active,
    &:focus {
      outline: none;
      border: 1px solid transparentize($white, 0.75);
      border-bottom: 2px solid $white;
      background-color: transparentize($white, 0.95);
    }

    &.is-error {
      border-color: $orange !important;
    }
  }

  div.ctct-form-embed form.ctct-form-custom div.ctct-form-field {
    margin: 0 1rem;
    position: relative;
    box-shadow: none;
  }

  .ctct-form-embed.form_0 .ctct-form-custom .ctct-form-button {
    width: auto;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 0;
    margin: 0 1rem;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 0.85rem 2rem;

    &:hover,
    &:focus,
    &:active {
      background-color: $white;
      color: $purple !important;
      border: 2px solid $white;
    }
  }

  .ctct-form-label {
    position: absolute !important;
    z-index: -1;
    bottom: 1rem;
    left: 0.25rem;
    font-style: $font-italic;

    @include transition();

    &.is-active {
      transform: translate(-0.25rem, -2.25rem);
      color: $grey !important;
    }
  }

  div.ctct-form-embed form.ctct-form-custom .ctct-form-required::before {
    color: $orange !important;
  }

  .ctct-form-embed.form_0 .ctct-form-defaults .ctct-form-text,
  .ctct-form-embed.form_0 .ctct-form-custom .ctct-form-label,
  .ctct-form-embed.form_0 .ctct-form-custom .ctct-form-listname,
  .ctct-form-embed.form_0 .ctct-form-custom .ctct-form-lists-legend,
  .ctct-form-embed.form_0 .ctct-form-custom .ctct-form-date-slash,
  .ctct-form-embed.form_0 .ctct-form-defaults .ctct-gdpr-text,
  .ctct-form-embed.form_0 .ctct-form-defaults .ctct-gdpr-text .ctct-form-footer-link,
  .ctct-form-embed.form_0 .ctct-form-defaults .ctct-gdpr-text .ctct-form-footer-privacy-link {
    margin: 0;
    color: $white;
    font-weight: $font-light;
    font-size: 0.85rem;
    letter-spacing: 0.025em;
    font-family: $font-default;
    text-align: center;
  }

  div.ctct-form-embed form.ctct-form-custom .ctct-form-errorMessage {
    color: $orange !important;
  }

  div.ctct-form-embed div.ctct-form-defaults h2.ctct-form-header {
    font-family: $font-default;
    color: $white;
  }
}

#footer {
  padding: 3vw;
  font-size: 0.85rem;

  .wrap {
    @include grid(space-between, stretch);
  }

  .column {
    @include grid(space-between, flex-start, column);

    max-width: 20%;
    min-width: 10%;
    padding: 1.25rem 3vw 0 3vw;

    &:first-of-type {
      padding-left: 0;
      padding-top: 0;
      min-width: 15vw;
    }

    &:last-of-type {
      margin-left: auto;
      padding-right: 0;
    }
  }

  .logo-footer {
    display: block;
    width: 100%;
    margin-bottom: auto;

    img {
      display: block;
    }
  }

  .nav-address {
    margin-top: auto;
    padding: 1rem 0 0.25rem 0;
    position: relative;
    font-size: 0.75rem;
  }

  .copyright {
    padding-bottom: 0;
    font-size: 0.65rem;
    white-space: nowrap;
  }

  .nav-phone ul,
  .nav-email ul {
    @include listStripped();

    li {
      padding: 0 0 0 1.75rem;
      position: relative;
      margin-bottom: 1em;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.5rem;
        display: block;
        width: 1.15rem;
        height: 1.15rem;
        background-size: contain;
      }
    }

    .data,
    .name {
      display: block;
      line-height: 1.15;
    }

    .name {
      font-size: 0.75rem;
    }

    .data {
      font-size: 1.25em;
      font-weight: $font-ultra-bold;

      @include transition(all 333ms ease);
    }
  }

  .nav-phone ul li::before {
    background-image: url('../images/icon-phone.svg');
  }

  .nav-email ul li::before {
    background-image: url('../images/icon-mail.svg');
  }

  a:hover .data {
    color: $orange;
  }

  .nav-social {
    margin-top: 2rem;

    ul {
      @include listStripped();
      @include grid();

      li {
        margin: 0 0.5rem;

        &:first-of-type { margin-left: 0; }
        &:last-of-type { margin-right: 0; }
      }

      img {
        height: 1.25rem;
      }

      span {
        display: none;
      }
    }
  }
}

/* stylelint-disable */
.nav-footer ul {
  @include listStripped();

  li {
    margin: 0 0 0.25rem 0;
  }

  a {
    font-weight: $font-bold;
    display: block;
    padding: 0.125rem;

    @include transition();

    &:hover {
      color: $orange;
    }
  }
}
/* stylelint-enable */

.footer-donate {
  margin: auto 0;
  font-size: 1.5em;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1200px) {
  #footer .column {
    max-width: 25%;
  }
}

@media (max-width: 960px) {
  .footer-signup {
    .ctct-form-custom {
      @include grid(center, center, column);
    }

    div.ctct-form-embed form.ctct-form-custom div.ctct-form-field {
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  #footer .wrap {
    @include grid(center, center, column);

    .column {
      @include grid(center, center, column);

      width: 100%;
      max-width: 100%;
      padding: 0 !important;

      &:first-of-type {
        display: flex;
      }
    }

    .logo-footer {
      margin: 0 auto;
      max-width: 10rem;
    }

    .nav-phone,
    .nav-email,
    .footer-donate,
    .nav-footer {
      display: none;
    }
  }
}
