/**
  Global Website Header
  ---------------------------------------------------------------------- */
body {
  padding-top: 7rem;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 1rem 0;
  background-color: $white;

  @include transition(all 333ms ease-in-out);

  .wrap {
    @include grid(space-between, center);
  }

  .nav-social ul {
    @include listStripped();
    @include grid();

    li {
      margin: 0.125rem;
    }

    a {
      display: block;
      padding: 0.125rem;
      border-radius: 50%;
      background-color: transparent;

      @include transition(all 133ms ease);

      &:hover {
        background-color: $grey;
      }
    }

    img {
      display: block;
      height: 1.5rem;
      padding: 0.25rem;
      margin: 0 auto;
    }

    span {
      display: none;
    }
  }

  .logo-header {
    display: block;
    height: 5rem;

    @include transition(all 233ms ease);
  }

  &.is-scrolled {
    background-color: transparentize($white, 0.1);

    .logo-header {
      height: 3rem;

      @include transition(all 555ms ease);
    }
  }
}

#responsive-nav-toggle {
  display: none;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {
  .header-top {
    padding: 1rem;
  }

  .nav-header,
  .header-top .nav-social {
    display: none;
  }

  #responsive-nav-toggle {
    display: block;
  }
}
